<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>一线传真列表</title>
        <link rel="stylesheet" type="text/css" href="css/fax/common.css" >
        <link rel="stylesheet" type="text/css" href="css/fax/fax.css">
        <link rel="stylesheet" type="text/css" href="css/fax/swiper.css">
        <link rel="stylesheet" type="text/css" href="css/fax/style.css">
        <script type="text/javascript" src="js/jqueryj.js"></script>
        <script type="text/javascript" src="js/scroll.js"></script>
        <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
        <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
        <script type="text/javascript" src="js/swiper.js"></script>


  <style>
  body{padding: 20px;}
  .demo-input{padding-left: 10px; height: 38px; min-width: 262px; line-height: 38px; border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 2px;}

  </style>
        <style type="text/css">
           ul li:hover ul{display:block;}



        </style>
    </head> 
<body>
<!-- 方法名 -->
<input type="hidden" name="method" id="method" value="HomeFaxPage">
<!-- 当前页 -->
<input type="hidden" name="currPage" id="currPage" value="${currPage }">
<!-- 尾页 -->
<input type="hidden" name="lastPage" id="lastPage" value="${pageSum }">
<!-- 登录人id -->
<input type="hidden" name="userid" id="userid" value="${userid }">

<input type="hidden" name="showtype" id="showtype" value="${showtype }">
 <div id="app"></div>

				<script type="text/javascript">
				var basePath="<%=basePath%>";
				var userid = "<%=userid%>";
				var rolevalue	="<%=rolevalue%>";
				</script>
                 <script type="text/javascript" src="js/fax/fax.js"></script>
				</body>
</html>

				